            <ul class="collection">
              <li class="collection-item avatar">
                <img src="/img/person/juniorcarrillo.jpg" class="circle">
                <span class="title">Junior Carrillo</span>
                <p>Go &amp; NoSQL Developer<br>
                  Fundador GolangVE</p>
                <a href="https://juniorcarrillo.com.ve" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
            
              <li class="collection-item avatar">
                <img src="/img/person/oswaldomontano.jpg" class="circle">
                <span class="title">Oswaldo Montaño</span>
                <p>Go &amp; Java Developer <br>
                Profesor Universitarío</p>
                <a href="http://oswaldom.com.ve" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
          
              <li class="collection-item avatar">
                <img src="/img/person/phanorcoll.jpg" class="circle">
                <span class="title">Phanor Coll</span>
                <p>Full Stack Developer <br>
                Freelancer</p>
                <a href="https://ve.linkedin.com/in/phanorcoll" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
          
              <li class="collection-item avatar">
                <img src="/img/person/edwardsanchez.jpg" class="circle">
                <span class="title">Edward Sanchez</span>
                <p>Front End Developer<br>
                Estudiante Universitario</p>
                <a href="https://www.facebook.com/profile.php?id=1378450602" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
            </ul>