<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="waves-effect btn-floating btn-large {{ .Site.Params.UI.accent }}">
    <i class="material-icons">share</i>
  </a>
  <ul>
    <li><a style="background-color: #42599e;" class="waves-effect btn-floating" target="_blank" href="https://www.facebook.com/{{ .Site.Params.Social.facebook }}" ><i class="fa fa-facebook"></i></a></li>
    <li><a style="background-color: #55acee;" class="waves-effect btn-floating" target="_blank" href="https://twitter.com/{{ .Site.Params.Social.twitter }}" ><i class="fa fa-twitter"></i></a></li>
    <li><a style="background-color: #117eb9;" class="waves-effect btn-floating" target="_blank" href="https://linkedin.com/in/{{ .Site.Params.Social.linkedin }}" ><i class="fa fa-linkedin"></i></a></li>
    <li><a style="background-color: #279ed9;" class="waves-effect btn-floating" target="_blank" href="https://t.me/{{ .Site.Params.Social.telegram }}" ><i class="fa fa-telegram"></i></a></li>
    <li><a style="background-color: #cd201f;" class="waves-effect btn-floating" target="_blank" href="https://youtube.com/{{ .Site.Params.Social.youtube }}" ><i class="fa fa-youtube"></i></a></li>
    <li><a style="background-color: #333333;" class="waves-effect btn-floating" target="_blank" href="https://github.com/{{ .Site.Params.Social.github }}" ><i class="fa fa-github"></i></a></li>
    <li><a style="background-color: #e24329;" class="waves-effect btn-floating" target="_blank" href="https://gitlab.com/{{ .Site.Params.Social.gitlab }}" ><i class="fa fa-gitlab"></i></a></li>
  </ul>
</div>