<!--
<div>
	<ul class="pagination center">
		{{ if .Paginator.HasPrev }}
		<li class="disabled"><a href="{{ .Paginator.Prev.URL }}"><i class="material-icons">chevron_left</i></a></li>
		{{ end }}
    	<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    	<li class="active {{ .Site.Params.Color.accent }}"><a href="#!">{{ .Paginator.PageNumber }}</a></li>
    	{{ if .Paginator.HasNext }}
    	<li class="waves-effect"><a href="{{ .Paginator.Next.URL }}"><i class="material-icons">chevron_right</i></a></li>
		{{ end }}
  	</ul>
</div>
-->