			<div style="padding: 3px;"></div>
            <!-- Facebook -->
            <div class="fb-page hide-on-med-and-down" data-href="https://www.facebook.com/{{ .Site.Params.Social.facebook }}/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/{{ .Site.Params.Social.facebook }}/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{ .Site.Params.Social.facebook }}/"></a></blockquote></div>
            <!-- Authors -->
            {{ partial "authors.html" . }}
            <!-- Twitter -->
            <a class="twitter-timeline" data-lang="es" data-height="360" data-link-color="#E81C4F" href="https://twitter.com/{{ .Site.Params.Social.twitter }}"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>