          <div class="col s12 m12 l4">
            {{ partial "authors.html" . }}
          </div>
          <div class="col s12 m12 l8">
            <div class="card">
              <div class="card-content">
                <p>El proyecto Golang Venezuela nace de la iniciativa principal de ser el punto de partida para el aprendizaje de este importante lenguaje de programación de alto nivel. A mediados del año 2015 se adhiere al universo Golang Communities, Golang Venezuela con el firme propósito de dar a conocer y desarrollar el mayor conocimiento posible de dicho lenguaje de programación en el territorio venezolano y latinoamericano.</p>
              </div>
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#vision">Visión</a></li>
                  <li class="tab"><a href="#mision">Misión</a></li>
                  <li class="tab"><a href="#metas">Metas</a></li>
                </ul>
              </div>
              <div class="card-content grey lighten-4">
                <div id="vision">Educar, certificar y aportar la mayor cantidad de conocimientos con la mejor calidad posible al talento venezolano. Amparados en las leyes y decretos de divulgación de tecnologías en el país y en acuerdo con las licencias de uso en cada desarrollo informático utilizado.</div>
                <div id="mision">Difusión y divulgación del lenguaje en todo el territorio nacional. Por medio de charlas, conferencias, conversatorios, foros y talleres en distintos lugares de interés en la nación, para lograr la mayor penetración del conocimiento sobre este fabuloso lenguaje de programación en el territorio nacional, con el patrocinio de universidades y centros de educación superior e intermedio.</div>
                <div id="metas">Compartir e intercambiar a todos los niveles los conocimientos adquiridos en todos los ámbitos de uso que existan o puedan generarse por medio de dicho lenguaje de programación respetando los derechos de autor y la libertad del conocimiento humano el cual se plantea preservar para la posteridad.</div>
              </div>
            </div>
          </div>