  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/person/juniorcarrillo.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Junior Carrillo<i class="material-icons right">more_vert</i></span>
        <p><a href="https://juniorcarrillo.com.ve/">Más Información</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Junior Carrillo<i class="material-icons right">close</i></span>
        <p>Hola, tengo 21 años y soy el fundador de esta comunidad. Soy programador Go, Python, PHP, JavaScript y NoSQL. Me dedico al Freelancer desde hace unos años. Me encantan los deportes extremos y la música electronica. Me considero constante, innovador, proactivo, tenáz y buen amigo. En mi tiempo libre hago producción audiovisual, seo, manager community o radio.</p>
        <p><a href="https://juniorcarrillo.com.ve/">Más Información</a></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">  
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/person/oswaldomontano.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Oswaldo Montaño<i class="material-icons right">more_vert</i></span>
        <p><a href="https://oswaldom.com.ve">Más Información</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Oswaldo Montaño<i class="material-icons right">close</i></span>
        <p>Soy Ingeniero en Informática, profesor de programación en la Universidad Nacional Experimental "Rómulo Gallegos", y Jefe de Servicios Informáticos del Concejo Legislativo del Estado Guárico en San Juan de Los Morros (Venezuela). Programo en Go, Python, Java y SQL. Me gustan muchos las nuevas tecnologías y me emociona ser parte del futuro al educar a los profesional del mañana.</p>
        <p><a href="https://oswaldom.com.ve">Más Información</a></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/person/phanorcoll.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Phanor Coll<i class="material-icons right">more_vert</i></span>
        <p><a href="https://linkedin.com/in/PhanorColl">Más Información</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Phanor Coll<i class="material-icons right">close</i></span>
        <p>Tengo mas de 15 años trabajando como fullstack developer usando diferentes tecnologias como Java (JEE, EJB, WILDFLY), PHP (ZF2 y Laravel 5), Reactjs, bootstrap, CSS(3), HTML(5) y ORMs como Hibernate y Doctrine. Soy evangelista para latino amerida de Neo4j, he colaborado en la edicion de libros como “Neo4j Cook Book” y he dado multiples charlas y video conferencias sobre el tema a nivel nacional e internacional contando con el apoyo de Neotechnology.
En los ultimos dos años he trabajado con Go, Neo4j y Reactjs para diversos proyectos tanto personales como comerciales para empresas como Gigster, Upwork, Useweave, Lifograph, Airbnb, entre otras, cada dia llevando a otro nivel los conocimientos en Go para darlos a conocer en la comunidad Golang Venezuela. Para esto he creao el grupo Golang y Neo4j de Merida.</p>
        <p><a href="https://linkedin.com/in/PhanorColl">Más Información</a></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/person/edwardsanchez.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Edward Sanchez<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Más Información</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Edward Sanchez<i class="material-icons right">close</i></span>
        <p>Soy estudiante universitario y a pasar de que estoy aprendiendo aún sobre el lenguaje, me gusta mucho y espero muy pronto colaborar y regresar un poco de la ayuda que me estan ofreciendo en mi formación como estudiante de Ing. Informática. Me parece genial ser parte de esta comunidad y espero seguirlo siendo.</p>
        <p><a href="#">Más Información</a></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/person/alexissanchez.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Alexis Sanchez<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Más Información</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Alexis Sanchez<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
        <p><a href="#">Más Información</a></p>
      </div>
    </div>
  </div>