  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/main/certified1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Participantes<i class="material-icons right">more_vert</i></span>
        <p><a href="/contacto">Más Información</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Participantes<i class="material-icons right">close</i></span>
        <p>Conservan certificaciones generales todos los asistentes de actos y/o eventos de la comunidad <em>Golang Venezuela</em> dentro o fura del dais. Son de carácter general y pueden ser emitidas por cualquier <strong>miembro programador</strong> previamente certificado en este lenguaje por esta comunidad. Generalmente son físicos y no conservan respaldo de certificación en nuestra área de <a href="/contacto">verificación de certificación en linea</a>, así como también generalmente se solicita una contribución mínima dedicada a la reproducción personalizada de cada certificado.</p>
        <p><a href="/contacto">Más Información</a></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/main/certified2.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Colaboradores<i class="material-icons right">more_vert</i></span>
        <p><a href="/contacto">Más Información</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Colaboradores<i class="material-icons right">close</i></span>
        <p>Las certificaciones de <em>Colaboradores Golang Venezuela</em> son expedidas a aquellos programadores que participan en el desarrollo de esta comunidad a nivel nacional y en casos excepcionales a los que colaboran en el desarrollo de la comunidad desde otras latitudes. Esta certificación es otorgada <em>solo por un Programador Certificado en el Lenguaje de la comunidad</em>, preserva el derecho de <a href="/contacto">verificación de certificación en linea</a> y se otorga en los siguientes niveles:<br>
        <strong>Colaborador Eventual</strong><br>
        Son aquellos miembros y/o usuarios de la comunidad que participan de forma lejana o poco continua en el desarrollo de cualquier actividad de la misma.<br>
        <strong>Colaborador Permanente</strong><br>
        Son aquellos miembros y/o usuarios de la comunidad que participan continuamente en actividades concernientes a la misma.</p>
        <p><a href="/contacto">Más Información</a></p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/main/certified3.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Programadores<i class="material-icons right">more_vert</i></span>
        <p><a href="/contacto">Más Información</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Programadores<i class="material-icons right">close</i></span>
        <p>Son aquellos miembros con mayor nivel de conocimiento sobre el lenguaje y ostentan beneficios únicos dentro de la <em>Comunidad Golang Venezuela</em> en los siguientes niveles:<br>
        <strong>Junior Developer</strong><br>
        Programadores con conocimientos básicos sobre el lenguaje y que en la mayoría de los casos acaban de iniciarse dentro de la comunidad de programadores de <em>Golang Venezuela</em>.<br>
        <strong>Senior Developer</strong><br>
        Programadores con conocimientos y experiencia intermedios, que ya manejan los conocimientos suficientes dentro del lenguaje para calificarse como programadores intermedios de nivel profesional dentro de esta comunidad.<br>
        <strong>Master Developer</strong><br>
        Programadores con grandes conocimientos y experiencia sobre el lenguaje, que están capacitados y calificados como programadores avanzados dentro de esta comunidad.</p>
        <p><a href="/contacto">Más Información</a></p>
      </div>
    </div>
  </div>